<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- away -->
		<add name="MyLeaguesConnectionString" connectionString="Data Source=localhost;Initial Catalog=MyLeagues;Integrated Security=True" providerName="System.Data.SqlClient" />

		<!-- home 
		<add name="MyLeaguesConnectionString" connectionString="Data Source=myleagues.db.4551479.hostedresource.com; Initial Catalog=myleagues; User ID=myleagues; Password='your password';" providerName="System.Data.SqlClient" />
		-->
	</connectionStrings>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="custom" namespace="CustomControls" />
				<add tagPrefix="my" src="~/UserControl/Form/TextBox.ascx" tagName="TextBox"></add>
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>