body {
	/*color: #fff; background-color: #000;*/
	background-color: #eef;
	font-family: Arial, sans-serif;
}

h1 {
	opacity: .8;
}

h2 {
	opacity: .6;
}

h3 {
	opacity: .4;
}

.primary {
	/* blue */
	background-color: #38f;
	color: #fff;
}

:disabled, .disabled {
	opacity: .25;
}

.accent {
	/*mint*/
	color: #fff;
	background-color: #02f580;
}

/*.important {
	color: #fff;
	background-color: #f50217;
}*/

button {
	font-size: .9em;
	background-color: #38f;
	border: 1px solid #38f;
	border-radius: 2px;
	color: #fff;
	margin: 0.5em 0;
	padding: .75em;
	text-transform: uppercase;
}

th {
	text-align: left;
}

td, th {
	padding: 0.75em;
}

button:active,
button.secondary:active {
	background-color: #1976D2;
	border-color: #1976D2;
	color: #fff;
}

button.important:active {
	background-color: #f50217;
	border-color: #f50217;
	color: #fff;
}

button:hover,
button:active {
	text-decoration: underline;
}

button.secondary {
	background-color: #fff;
	border-color: #38f;
	color: #38f;
}

button.important {
	background-color: #fff;
	border-color: #f50217;
	color: #f50217;
}
