.primary {
	/* blue */
	background-color: #03a9f4;
	color: #fff;
}

:disabled, .disabled {
	opacity: .25;
}

.accent {
	/*mint*/
	color: #fff;
	background-color: #02f580;
}

/*.important {
	color: #fff;
	background-color: #f50217;
}*/

body {
	font-family: Arial, sans-serif;
	opacity: .9;
}

button {
	font-size: .9em;
	background-color: #03a9f4;
	border: 1px solid #03a9f4;
	border-radius: 2px;
	color: #fff;
	margin: 0.5em 0;
	padding: .75em;
	text-transform: uppercase;
}

	button:active,
	button.secondary:active {
		background-color: #1976D2;
		border-color: #1976D2;
		color: #fff;
	}

	button.important:active {
		background-color: #f50217;
		border-color: #f50217;
		color: #fff;
	}

	button:hover,
	button:active {
		text-decoration: underline;
	}

	button.secondary {
		background-color: #fff;
		border-color: #03a9f4;
		color: #03a9f4;
	}

	button.important {
		background-color: #fff;
		border-color: #f50217;
		color: #f50217;
	}
